<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Attendance</title>
</head>
<body>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <H1>Smart Attendance</H1>
    <H2>Input attendance:</H2>
    <form method="POST">
        <input name="s_fname" placeholder="First name">
        <input name="s_sname" placeholder="Second name">
        {% if Categories %}
            <select name="category_id">
                <option value="1">{{ Categories[0] }}</option>
                <option value="2">{{ Categories[1] }}</option>
                <option value="3">{{ Categories[2] }}</option>
                <option value="4">{{ Categories[3] }}</option>
            </select>
        {% endif %}
        {% if Classes_names %}
            <select name="class_id">
                <option value="1">{{ Classes_names[0] }}</option>
                <option value="2">{{ Classes_names[1] }}</option>
                <option value="3">{{ Classes_names[2] }}</option>
                <option value="4">{{ Classes_names[3] }}</option>
            </select>
        {% endif %}
        <input name="lecturer_id" placeholder="Lecturer ID">
        <input type="submit">
    </form>
    <a href="{{ url_for('home') }}"><button>Home</button></a>
</body>