<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Attendance</title>
</head>
<body>
    <H1>Smart Attendance</H1>
    <H2>Home:</H2>
    <a href="{{ url_for('grades') }}"><button>Input grades</button></a>
    <a href="{{ url_for('attendance') }}"><button>Input attendance</button></a>
    <a href="{{ url_for('show_grades') }}"><button>Show grades</button></a>
    <a href="{{ url_for('show_attendance') }}"><button>Show attendance</button></a>
    <a href="{{ url_for('show_if_passed') }}"><button>Show students passing</button></a>
</body>