<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Attendance</title>
</head>
<body>

    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    {% if moja_zmienna %}
        <H1>{{ moja_zmienna }}</H1>
    {% endif %}
    <H1>Smart Attendance</H1>
    <H2>Login:</H2>
    <form method="POST">
        <input name="first_name" placeholder="First name"><input name="last_name" placeholder="Last name">
        <input type="submit">
    </form>
</body>
</html>