<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Attendance</title>
</head>
<body>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <H1>Smart Attendance</H1>
    <H2>Attendance:</H2>
    <form method="POST">
        <input name="Class" placeholder="Class name">
        <input name="s_fname" placeholder="First name">
        <input name="s_sname" placeholder="Second name">
        <input type="submit">
    </form>

    {% if value != [] %}
        <table border="2">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date</th>
                <th>Class name</th>
            </tr>
            </thead>
            <tbody>
                {% for row in value %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <a href="{{ url_for('home') }}"><button>Home</button></a>

</body>
</html>